{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CSV Validator</title>
    </head>

    <body>
        <div class="form-group">
            <form  method="post" enctype="multipart/form-data">

                <p>{{ form.non_field_errors }}</p>

                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}
                </p>
                <p>{{ jsonform.non_field_errors }}</p>

                <p>{{ jsonform.jsonfile.label_tag }} {{ jsonform.jsonfile.help_text }}</p>

                <p>
                    {{ jsonform.jsonfile.errors }}
                    {{ jsonform.jsonfile }}
                </p>

                <p><input type="submit" value="Upload" name="submit"/></p>
            </form>
        </div>
    </body>

</html>
