.table_content {
    padding-top:10px;
}
.validatorcode {
    font-size: 33%;
}
table.data_table_content {
    border-collapse: collapse;
}
table.data_table_content tr {
  border: solid;
  border-width: 1px 0;
}
table.data_table_content th, td {
	border-collapse:collapse;
	border: 1px solid black;
	padding-top:0;
	padding-bottom:0;
    padding-left:10px;
    padding-right:10px;
}

table.error_content {
    font-size: 50%;
}
table.error_content tr{
    border-style: hidden;
    border-width: 1px 0;
}
table.error_content th, td {
    border-collapse:collapse;
}