<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
    <h1>CSV Content</h1>
    <p>{{ csv }}</p>
    <!--<table>
        {% for row in csvcontent %}
            <tr>
            {% if forloop.counter == 1 %}
                {% for data in row %}
                    <th>{{ data }}</th>
                {% endfor %}
            {% else %}
                {% for data in row %}
                    <td>{{ data }}</td>
                {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
    </table>-->

    {{ validator }}


</body>
</html>